<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="overlay" style="background-image: url(assets/Images/pexels-bohlemedia-1884584.jpg);"></div>
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-5">
                    <img style="max-width: 100%; height: auto;" src="assets/Images/png-transparent-t-shirt-hoodie-polo-shirt-tshirt-tshirt-active-shirt-jersey-thumbnail-removebg-preview.png" />
                </div>
                <div class="col-5 text-center text-dark">
                    <h1 class="fw-bold">T-shirt</h1>
                    <p class="fs-3">One of the best products ever</p>
                    <p class="text-success fs-4"><span style="text-decoration: line-through;" class="text-danger">200$</span> 175$</p>
                    <a href="#" class="btn btn-dark rounded-4 fs-3">Check It Out</a>
                </div>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div style="background-image: url(assets/Images/pexels-bohlemedia-1884583.jpg);" class="overlay"></div>
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-5">
                    <img style="max-width: 100%; height: auto;" src="assets/Images/png-transparent-t-shirt-hoodie-polo-shirt-tshirt-tshirt-active-shirt-jersey-thumbnail-removebg-preview.png" />
                </div>
                <div class="col-5 text-center text-dark">
                    <h1 class="fw-bold">T-shirt</h1>
                    <p class="fs-3">One of the best products ever</p>
                    <p class="text-success fs-4"><span style="text-decoration: line-through;" class="text-danger">200$</span> 175$</p>
                    <a href="#" class="btn btn-dark rounded-4 fs-3">Check It Out</a>
                </div>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="overlay" style="background-image: url(assets/Images/R.jpg);"></div>
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-5">
                    <img style="max-width: 100%; height: auto;" src="assets/Images/png-transparent-t-shirt-hoodie-polo-shirt-tshirt-tshirt-active-shirt-jersey-thumbnail-removebg-preview.png" />
                </div>
                <div class="col-5 text-center text-dark">
                    <h1 class="fw-bold">T-shirt</h1>
                    <p class="fs-3">One of the best products ever</p>
                    <p class="text-success fs-4"><span style="text-decoration: line-through;" class="text-danger">200$</span> 175$</p>
                    <a href="#" class="btn btn-dark rounded-4 fs-3">Check It Out</a>
                </div>
            </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>