<br><br>
<div class="container rounded-4 m-auto" style="height: 500px; background-image: url(assets/Images/pexels-daiangan-102129.jpg); background-position:  bottom; background-repeat: no-repeat; background-attachment: fixed; background-size: cover; box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);">
    <div class="row justify-content-center align-items-center" style="height: 500px;">
        <div class="col-10 text-center">
            <a [routerLink]="'/products'" class="btn btn-primary rounded-3 p-3 mb-2 fs-3">View All Products</a>
        </div>
    </div>
</div>
<br><br>
<div class="container rounded-4 m-auto" style="height: 500px; background-image: url(assets/Images/pexels-element5-1550337.jpg); background-position: top; background-repeat: no-repeat; background-attachment: fixed; background-size: cover; box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);">
    <div class="row justify-content-center align-items-center" style="height: 500px;">
        <div class="col-10 text-center">
            <a [routerLink]="'/contactus'" class="btn btn-primary rounded-3 p-3 mb-2 fs-3">Contact Us</a>
        </div>
    </div>
</div>
<br><br>